ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.search {
  width: 50vw;
  height: 5vh;
  margin: 10px 3vw 2vh 20vw;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  outline: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cont {
  width: 20vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center ;
  border: 1px solid black;
  margin-top: 10px;
}

.link {
  color: black;
  cursor: pointer;
}