<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" *ngIf="api2">
    <input type="text" class="search" name="nome" [(ngModel)]="nome" placeholder="Pesquise o pokemon aqui!">
    <ion-button (click)="atualizar()">search</ion-button>
    <div class="container">
      <div class="cont" *ngIf="api2.name != null">
        <a class="link" routerLink="/poke-info/{{api2.name}}">{{api2.name}}</a>
      </div>
      <div class="cont" *ngFor="let x of api2.results">
        <a class="link" routerLink="/poke-info/{{x.name}}"> {{x.name}} </a>
      </div>
    </div>
  </div>
</ion-content>